<p>crud works!</p>
<div class="container3">
    <form>
        <input [(ngModel)]="operation.username" name="username" class="form-control inp" type="text"
            placeholder="Enter title" required>
        <br>
        <input [(ngModel)]="operation.email" name="email" class="form-control inp" type="text" placeholder="Enter Email"
            required>
        <br>
        <button class="btn  btn-primary btn1" (click)="addItems()">Add Item</button>
    </form>
    <br>
</div>
<br><br>

<!-- <br><br>
<button id="increment" (click)="increment()">Increment</button>

<div>Current Count: {{ count$ | async }}</div>

<button id="decrement" (click)="decrement()">Decrement</button>

<button id="reset" (click)="reset()">Reset Counter</button> -->